$har-help-square: unquote('"\\e970"');
$har-tablet: unquote('"\\e971"');
$har-devices: unquote('"\\e96c"');
$har-hand: unquote('"\\e96d"');
$har-key: unquote('"\\e96e"');
$har-smartphone: unquote('"\\e96f"');
$har-dataflow: unquote('"\\e96b"');
$har-git-branch: unquote('"\\e96a"');
$har-fingerprint: unquote('"\\e969"');
$har-shield-tick: unquote('"\\e968"');
$har-key-02: unquote('"\\e963"');
$har-mail-circle: unquote('"\\e95e"');
$har-camera: unquote('"\\e900"');
$har-crown-fill: unquote('"\\e964"');
$har-eye: unquote('"\\e95f"');
$har-link-external: unquote('"\\e901"');
$har-lamp: unquote('"\\e902"');
$har-alert-triangle: unquote('"\\e960"');
$har-coffee: unquote('"\\e961"');
$har-menu-02: unquote('"\\e95d"');
$har-info-circle: unquote('"\\e95c"');
$har-loading: unquote('"\\e95b"');
$har-message-text-2: unquote('"\\e95a"');
$har-crown: unquote('"\\e958"');
$har-dropper: unquote('"\\e957"');
$har-play: unquote('"\\e903"');
$har-arrow-up-right: unquote('"\\e904"');
$har-announcement: unquote('"\\e905"');
$har-home: unquote('"\\e906"');
$har-globe: unquote('"\\e907"');
$har-share: unquote('"\\e908"');
$har-bar-chart: unquote('"\\e909"');
$har-image: unquote('"\\e90a"');
$har-calendar-02: unquote('"\\e90b"');
$har-file-check: unquote('"\\e90c"');
$har-menu-dots-02: unquote('"\\e90d"');
$har-check-03: unquote('"\\e90e"');
$har-x-close: unquote('"\\e90f"');
$har-notification-off: unquote('"\\e910"');
$har-clock: unquote('"\\e911"');
$har-mail: unquote('"\\e912"');
$har-phone-plus: unquote('"\\e913"');
$har-phone: unquote('"\\e914"');
$har-marker-pin: unquote('"\\e915"');
$har-users-01: unquote('"\\e916"');
$har-folder-shield: unquote('"\\e917"');
$har-dots-grid: unquote('"\\e918"');
$har-layout-left: unquote('"\\e919"');
$har-file: unquote('"\\e91a"');
$har-arrow-left: unquote('"\\e91b"');
$har-building: unquote('"\\e91c"');
$har-arrow-right: unquote('"\\e91d"');
$har-slash-circle: unquote('"\\e91e"');
$har-coins-stacked: unquote('"\\e91f"');
$har-star: unquote('"\\e920"');
$har-refresh-cw: unquote('"\\e921"');
$har-layout-alt: unquote('"\\e922"');
$har-settings: unquote('"\\e923"');
$har-briefcase: unquote('"\\e924"');
$har-user: unquote('"\\e925"');
$har-log-in: unquote('"\\e926"');
$har-log-out: unquote('"\\e927"');
$har-menu-dots: unquote('"\\e928"');
$har-alert-circle: unquote('"\\e929"');
$har-notification: unquote('"\\e92a"');
$har-users: unquote('"\\e92b"');
$har-user-square: unquote('"\\e92c"');
$har-settings-02: unquote('"\\e92d"');
$har-mail-02: unquote('"\\e92e"');
$har-clock-fast-forward: unquote('"\\e92f"');
$har-edit-01: unquote('"\\e930"');
$har-edit: unquote('"\\e931"');
$har-ruble-circle: unquote('"\\e932"');
$har-bookmark: unquote('"\\e933"');
$har-monitor-02: unquote('"\\e934"');
$har-minus-circle: unquote('"\\e935"');
$har-image-plus: unquote('"\\e936"');
$har-search: unquote('"\\e937"');
$har-moon: unquote('"\\e938"');
$har-plus-circle: unquote('"\\e939"');
$har-trash: unquote('"\\e93a"');
$har-minimize: unquote('"\\e93b"');
$har-maximize: unquote('"\\e93c"');
$har-sale: unquote('"\\e93d"');
$har-user-plus: unquote('"\\e93e"');
$har-expand: unquote('"\\e93f"');
$har-flex-align-left: unquote('"\\e940"');
$har-send: unquote('"\\e941"');
$har-corner-up-left: unquote('"\\e942"');
$har-copy: unquote('"\\e943"');
$har-calendar: unquote('"\\e944"');
$har-radio-circle-checked: unquote('"\\e945"');
$har-radio-circle: unquote('"\\e946"');
$har-upload: unquote('"\\e947"');
$har-download: unquote('"\\e948"');
$har-unlink: unquote('"\\e949"');
$har-link: unquote('"\\e94a"');
$har-heart-hand: unquote('"\\e94b"');
$har-spa: unquote('"\\e94c"');
$har-dot: unquote('"\\e94d"');
$har-close: unquote('"\\e94e"');
$har-chevron-up: unquote('"\\e94f"');
$har-chevron-left: unquote('"\\e950"');
$har-chevron-down: unquote('"\\e951"');
$har-chevron-right: unquote('"\\e952"');
$har-square: unquote('"\\e953"');
$har-minus-02: unquote('"\\e954"');
$har-check-02: unquote('"\\e955"');
$har-help-circle: unquote('"\\e956"');
$har-check: unquote('"\\e962"');
$har-plus: unquote('"\\e965"');
$har-minus: unquote('"\\e966"');
$har-lamp1: unquote('"\\e967"');
$har-crown-solid: unquote('"\\e959"');