@font-face {
    font-family: 'Asi';
    src:
      url('../fonts/Asi.ttf?6ivw6u') format('truetype'),
      url('../fonts/Asi.woff?6ivw6u') format('woff'),
      url('../fonts/Asi.svg?6ivw6u#Asi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Asi' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .asi-play:before {
    content: "\e900";
  }
  .asi-arrow-up-right:before {
    content: "\e901";
  }
  .asi-announcement:before {
    content: "\e902";
  }
  .asi-home:before {
    content: "\e903";
  }
  .asi-globe:before {
    content: "\e904";
  }
  .asi-share:before {
    content: "\e905";
  }
  .asi-bar-chart:before {
    content: "\e906";
  }
  .asi-image:before {
    content: "\e907";
  }
  .asi-calendar-02:before {
    content: "\e908";
  }
  .asi-file-check:before {
    content: "\e909";
  }
  .asi-menu-dots-02:before {
    content: "\e90a";
  }
  .asi-check-03:before {
    content: "\e90b";
  }
  .asi-x-close:before {
    content: "\e90c";
  }
  .asi-notification-off:before {
    content: "\e90d";
  }
  .asi-clock:before {
    content: "\e90e";
  }
  .asi-mail:before {
    content: "\e90f";
  }
  .asi-phone-plus:before {
    content: "\e910";
  }
  .asi-phone:before {
    content: "\e911";
  }
  .asi-marker-pin:before {
    content: "\e912";
  }
  .asi-users-01:before {
    content: "\e913";
  }
  .asi-folder-shield:before {
    content: "\e914";
  }
  .asi-dots-grid:before {
    content: "\e915";
  }
  .asi-layout-left:before {
    content: "\e916";
  }
  .asi-file:before {
    content: "\e917";
  }
  .asi-arrow-left:before {
    content: "\e918";
  }
  .asi-building:before {
    content: "\e919";
  }
  .asi-arrow-right:before {
    content: "\e91a";
  }
  .asi-slash-circle:before {
    content: "\e91b";
  }
  .asi-coins-stacked:before {
    content: "\e91c";
  }
  .asi-star:before {
    content: "\e91d";
  }
  .asi-refresh-cw:before {
    content: "\e91e";
  }
  .asi-layout-alt:before {
    content: "\e91f";
  }
  .asi-settings:before {
    content: "\e920";
  }
  .asi-briefcase:before {
    content: "\e921";
  }
  .asi-user:before {
    content: "\e922";
  }
  .asi-log-in:before {
    content: "\e923";
  }
  .asi-log-out:before {
    content: "\e924";
  }
  .asi-menu-dots:before {
    content: "\e925";
  }
  .asi-alert-circle:before {
    content: "\e926";
  }
  .asi-notification:before {
    content: "\e927";
  }
  .asi-users:before {
    content: "\e928";
  }
  .asi-user-square:before {
    content: "\e929";
  }
  .asi-settings-02:before {
    content: "\e92a";
  }
  .asi-mail-02:before {
    content: "\e92b";
  }
  .asi-clock-fast-forward:before {
    content: "\e92c";
  }
  .asi-edit-01:before {
    content: "\e92d";
  }
  .asi-edit:before {
    content: "\e92e";
  }
  .asi-ruble-circle:before {
    content: "\e92f";
  }
  .asi-bookmark:before {
    content: "\e930";
  }
  .asi-monitor-02:before {
    content: "\e931";
  }
  .asi-minus-circle:before {
    content: "\e932";
  }
  .asi-image-plus:before {
    content: "\e933";
  }
  .asi-search:before {
    content: "\e934";
  }
  .asi-moon:before {
    content: "\e935";
  }
  .asi-plus-circle:before {
    content: "\e936";
  }
  .asi-trash:before {
    content: "\e937";
  }
  .asi-minimize:before {
    content: "\e938";
  }
  .asi-maximize:before {
    content: "\e939";
  }
  .asi-sale:before {
    content: "\e93a";
  }
  .asi-user-plus:before {
    content: "\e93b";
  }
  .asi-expand:before {
    content: "\e93c";
  }
  .asi-flex-align-left:before {
    content: "\e93d";
  }
  .asi-send:before {
    content: "\e93e";
  }
  .asi-corner-up-left:before {
    content: "\e93f";
  }
  .asi-copy:before {
    content: "\e940";
  }
  .asi-calendar:before {
    content: "\e941";
  }
  .asi-radio-circle-checked:before {
    content: "\e942";
  }
  .asi-radio-circle:before {
    content: "\e943";
  }
  .asi-upload:before {
    content: "\e944";
  }
  .asi-download:before {
    content: "\e945";
  }
  .asi-unlink:before {
    content: "\e946";
  }
  .asi-link:before {
    content: "\e947";
  }
  .asi-heart-hand:before {
    content: "\e948";
  }
  .asi-spa:before {
    content: "\e949";
  }
  .asi-dot:before {
    content: "\e94a";
  }
  .asi-close:before {
    content: "\e94b";
  }
  .asi-chevron-up:before {
    content: "\e94c";
  }
  .asi-chevron-left:before {
    content: "\e94d";
  }
  .asi-chevron-down:before {
    content: "\e94e";
  }
  .asi-chevron-right:before {
    content: "\e94f";
  }
  .asi-square:before {
    content: "\e950";
  }
  .asi-minus-02:before {
    content: "\e951";
  }
  .asi-check-02:before {
    content: "\e952";
  }
  .asi-help-circle:before {
    content: "\e953";
  }
  .asi-check:before {
    content: "\e954";
  }
  .asi-plus:before {
    content: "\e955";
  }
  .asi-minus:before {
    content: "\e956";
  }
  