@use './icon_vars' as *;
.har-help-square {
  &:before {
    content: $har-help-square;
  }
}
.har-tablet {
  &:before {
    content: $har-tablet;
  }
}
.har-devices {
  &:before {
    content: $har-devices;
  }
}
.har-hand {
  &:before {
    content: $har-hand;
  }
}
.har-key {
  &:before {
    content: $har-key;
  }
}
.har-smartphone {
  &:before {
    content: $har-smartphone;
  }
}
.har-dataflow {
  &:before {
    content: $har-dataflow;
  }
}
.har-git-branch {
  &:before {
    content: $har-git-branch;
  }
}
.har-fingerprint {
  &:before {
    content: $har-fingerprint;
  }
}
.har-shield-tick {
  &:before {
    content: $har-shield-tick;
  }
}
.har-key-02 {
  &:before {
    content: $har-key-02;
  }
}
.har-mail-circle {
  &:before {
    content: $har-mail-circle;
  }
}
.har-camera {
  &:before {
    content: $har-camera;
  }
}
.har-crown-fill {
  &:before {
    content: $har-crown-fill;
  }
}
.har-eye {
  &:before {
    content: $har-eye;
  }
}
.har-link-external {
  &:before {
    content: $har-link-external;
  }
}
.har-lamp {
  &:before {
    content: $har-lamp;
  }
}
.har-alert-triangle {
  &:before {
    content: $har-alert-triangle;
  }
}
.har-coffee {
  &:before {
    content: $har-coffee;
  }
}
.har-menu-02 {
  &:before {
    content: $har-menu-02;
  }
}
.har-info-circle {
  &:before {
    content: $har-info-circle;
  }
}
.har-loading {
  &:before {
    content: $har-loading;
  }
}
.har-message-text-2 {
  &:before {
    content: $har-message-text-2;
  }
}
.har-crown {
  &:before {
    content: $har-crown;
  }
}
.har-dropper {
  &:before {
    content: $har-dropper;
  }
}
.har-play {
  &:before {
    content: $har-play;
  }
}
.har-arrow-up-right {
  &:before {
    content: $har-arrow-up-right;
  }
}
.har-announcement {
  &:before {
    content: $har-announcement;
  }
}
.har-home {
  &:before {
    content: $har-home;
  }
}
.har-globe {
  &:before {
    content: $har-globe;
  }
}
.har-share {
  &:before {
    content: $har-share;
  }
}
.har-bar-chart {
  &:before {
    content: $har-bar-chart;
  }
}
.har-image {
  &:before {
    content: $har-image;
  }
}
.har-calendar-02 {
  &:before {
    content: $har-calendar-02;
  }
}
.har-file-check {
  &:before {
    content: $har-file-check;
  }
}
.har-menu-dots-02 {
  &:before {
    content: $har-menu-dots-02;
  }
}
.har-check-03 {
  &:before {
    content: $har-check-03;
  }
}
.har-x-close {
  &:before {
    content: $har-x-close;
  }
}
.har-notification-off {
  &:before {
    content: $har-notification-off;
  }
}
.har-clock {
  &:before {
    content: $har-clock;
  }
}
.har-mail {
  &:before {
    content: $har-mail;
  }
}
.har-phone-plus {
  &:before {
    content: $har-phone-plus;
  }
}
.har-phone {
  &:before {
    content: $har-phone;
  }
}
.har-marker-pin {
  &:before {
    content: $har-marker-pin;
  }
}
.har-users-01 {
  &:before {
    content: $har-users-01;
  }
}
.har-folder-shield {
  &:before {
    content: $har-folder-shield;
  }
}
.har-dots-grid {
  &:before {
    content: $har-dots-grid;
  }
}
.har-layout-left {
  &:before {
    content: $har-layout-left;
  }
}
.har-file {
  &:before {
    content: $har-file;
  }
}
.har-arrow-left {
  &:before {
    content: $har-arrow-left;
  }
}
.har-building {
  &:before {
    content: $har-building;
  }
}
.har-arrow-right {
  &:before {
    content: $har-arrow-right;
  }
}
.har-slash-circle {
  &:before {
    content: $har-slash-circle;
  }
}
.har-coins-stacked {
  &:before {
    content: $har-coins-stacked;
  }
}
.har-star {
  &:before {
    content: $har-star;
  }
}
.har-refresh-cw {
  &:before {
    content: $har-refresh-cw;
  }
}
.har-layout-alt {
  &:before {
    content: $har-layout-alt;
  }
}
.har-settings {
  &:before {
    content: $har-settings;
  }
}
.har-briefcase {
  &:before {
    content: $har-briefcase;
  }
}
.har-user {
  &:before {
    content: $har-user;
  }
}
.har-log-in {
  &:before {
    content: $har-log-in;
  }
}
.har-log-out {
  &:before {
    content: $har-log-out;
  }
}
.har-menu-dots {
  &:before {
    content: $har-menu-dots;
  }
}
.har-alert-circle {
  &:before {
    content: $har-alert-circle;
  }
}
.har-notification {
  &:before {
    content: $har-notification;
  }
}
.har-users {
  &:before {
    content: $har-users;
  }
}
.har-user-square {
  &:before {
    content: $har-user-square;
  }
}
.har-settings-02 {
  &:before {
    content: $har-settings-02;
  }
}
.har-mail-02 {
  &:before {
    content: $har-mail-02;
  }
}
.har-clock-fast-forward {
  &:before {
    content: $har-clock-fast-forward;
  }
}
.har-edit-01 {
  &:before {
    content: $har-edit-01;
  }
}
.har-edit {
  &:before {
    content: $har-edit;
  }
}
.har-ruble-circle {
  &:before {
    content: $har-ruble-circle;
  }
}
.har-bookmark {
  &:before {
    content: $har-bookmark;
  }
}
.har-monitor-02 {
  &:before {
    content: $har-monitor-02;
  }
}
.har-minus-circle {
  &:before {
    content: $har-minus-circle;
  }
}
.har-image-plus {
  &:before {
    content: $har-image-plus;
  }
}
.har-search {
  &:before {
    content: $har-search;
  }
}
.har-moon {
  &:before {
    content: $har-moon;
  }
}
.har-plus-circle {
  &:before {
    content: $har-plus-circle;
  }
}
.har-trash {
  &:before {
    content: $har-trash;
  }
}
.har-minimize {
  &:before {
    content: $har-minimize;
  }
}
.har-maximize {
  &:before {
    content: $har-maximize;
  }
}
.har-sale {
  &:before {
    content: $har-sale;
  }
}
.har-user-plus {
  &:before {
    content: $har-user-plus;
  }
}
.har-expand {
  &:before {
    content: $har-expand;
  }
}
.har-flex-align-left {
  &:before {
    content: $har-flex-align-left;
  }
}
.har-send {
  &:before {
    content: $har-send;
  }
}
.har-corner-up-left {
  &:before {
    content: $har-corner-up-left;
  }
}
.har-copy {
  &:before {
    content: $har-copy;
  }
}
.har-calendar {
  &:before {
    content: $har-calendar;
  }
}
.har-radio-circle-checked {
  &:before {
    content: $har-radio-circle-checked;
  }
}
.har-radio-circle {
  &:before {
    content: $har-radio-circle;
  }
}
.har-upload {
  &:before {
    content: $har-upload;
  }
}
.har-download {
  &:before {
    content: $har-download;
  }
}
.har-unlink {
  &:before {
    content: $har-unlink;
  }
}
.har-link {
  &:before {
    content: $har-link;
  }
}
.har-heart-hand {
  &:before {
    content: $har-heart-hand;
  }
}
.har-spa {
  &:before {
    content: $har-spa;
  }
}
.har-dot {
  &:before {
    content: $har-dot;
  }
}
.har-close {
  &:before {
    content: $har-close;
  }
}
.har-chevron-up {
  &:before {
    content: $har-chevron-up;
  }
}
.har-chevron-left {
  &:before {
    content: $har-chevron-left;
  }
}
.har-chevron-down {
  &:before {
    content: $har-chevron-down;
  }
}
.har-chevron-right {
  &:before {
    content: $har-chevron-right;
  }
}
.har-square {
  &:before {
    content: $har-square;
  }
}
.har-minus-02 {
  &:before {
    content: $har-minus-02;
  }
}
.har-check-02 {
  &:before {
    content: $har-check-02;
  }
}
.har-help-circle {
  &:before {
    content: $har-help-circle;
  }
}
.har-check {
  &:before {
    content: $har-check;
  }
}
.har-plus {
  &:before {
    content: $har-plus;
  }
}
.har-minus {
  &:before {
    content: $har-minus;
  }
}
.har-lamp1 {
  &:before {
    content: $har-lamp1;
  }
}
.har-crown-solid {
  &:before {
    content: $har-crown-solid;
  }
}

@font-face {
    font-family: "Har";
    src: url("@/assets/fonts/Har.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.har {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "Har" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: inherit;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}