@font-face {
    font-family: "Har";
    src: url("@/assets/fonts/Har.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.har {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "Har" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: inherit;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import './icon_vars';
@import './icon_list';